.ColorBox {
	display: inline-block;
	width: 20%;
	position: relative;
	cursor: pointer;
	text-align: center;
	margin-bottom: -4px;

	&.size {
		&-s {
			height: 25%;
		}

		&-l {
			height: 50%;
		}
	}
}

.copy {
	position: relative;
	color: black;
	width: 100%;
	height: 100%;

	&-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		width: 100px;
		height: 30px;
		line-height: 30px;
		color: white;
		text-transform: uppercase;
		background-color: #b5f57f;
		opacity: 0;
		transition: .5s;
		outline: none;
		border: none;
	}

	&-color {
		position: absolute;
		left: 10px;
		bottom: 4px;
	}

	&:hover &-btn {
		opacity: 1;
	}
}

.copy-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(0.6);
	opacity: 0;

	&.show {
		transform: scale(10);
		opacity: 1;
		z-index: 2;
		transition: transform 0.8s ease-in-out;
	}
}

.copy-msg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: -1;
	text-align: center;
	color: white;
	transform: scale(0.1);

	& > div:first-child {
		background: rgba(225, 255, 255, 0.3);
		padding: 20px 0;
		margin-bottom: 10px;
		font-size: 60px;
		text-transform: uppercase;
		width: 100%;
		font-weight: 400;
		text-shadow: 4px 3px black;
	}

	& > div:last-child {
		font-weight: 100;
		font-size: 20px;
	}

	&.show {
		opacity: 1;
		transform: scale(1);
		z-index: 3;
		transition: all 0.4s ease-in;
		transition-delay: 0.4s;
	}

}

.see-more {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 60px;
	height: 30px;
	line-height: 30px;
	color: white;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in;
	background-color: rgba(225, 255, 255, 0.3);

	&:hover {
		background-color: rgba(225, 255, 255, 0.45);
	}
}